[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
[Tt]rue/
publish/
packages/
$RECYCLE.BIN/

*.suo
*.user
*.meta
*.obj
*.pdb
*.tlb
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.scc
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
Thumbs.db
ehthumbs.db
Desktop.ini
README.html